{% extends "layout.html" %}
{% block slider %}
  <div id="tittle-biografia" class="container-fluid black-bg">
     <div class="container">
       <div class="row">
         <div class="col-sm-3">
           <h1 class="white-color arvo bold italic font-size-40">BIOGRAFÍA</h1>
         </div>
         <div class="col-sm-9 tittle-linea">
           <hr>
         </div>
       </div>
     </div>
  </div>
{% endblock  %}

{% block content %}
<style type="text/css">
  
</style>
    
    <div class="row bg-bio-top">
     <div class="container">
       <div class="row">
         <div class="col-sm-4 chava-pic">
           <img src="static/img/biografia/chava-bio-pic.png">
         </div>
         <div class="col-sm-8 text-bio">
           <h2 class="arvo bold italic font-size-25 white-color">SALVADOR DURAN</h2>
           <p class="cuprum italic white-color font-size-14 text-ceter">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sem erat, condimentum nec faucibus nec, condimentum vel quam. Donec eleifend gravida odio, eget ultricies augue. Ut vehicula accumsan neque. Phasellus vitae leo quis neque lacinia ultricies. Etiam metus lacus, accumsan eu massa eget, dignissim mollis turpis. Praesent vitae vulputate dolor. Maecenas fermentum semper leo, quis fermentum eros viverra nec.</p>
           <p class="cuprum italic white-color font-size-14 text-ceter">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum sit amet tempor lacus, ut vehicula quam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla mollis dolor turpis, at pulvinar eros eleifend vitae. Nulla nec vehicula elit, aliquet dapibus arcu. Phasellus blandit velit in eleifend porta. Nulla sodales rhoncus lorem scelerisque mattis. Etiam in tortor a quam rutrum scelerisque non sit amet urna. Nunc neque mi, facilisis in nulla sed, ornare ullamcorper urna. Cras a dignissim tortor, vel viverra eros. Nam tempus lobortis elementum.</p>
           <p class="cuprum italic white-color font-size-14 text-ceter">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum sit amet tempor lacus, ut vehicula quam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla mollis dolor turpis, at pulvinar eros eleifend vitae. Nulla nec vehicula elit, aliquet dapibus arcu. Phasellus blandit velit in eleifend porta. Nulla sodales rhoncus lorem scelerisque mattis. Etiam in tortor a quam rutrum scelerisque non sit amet urna. Nunc neque mi, facilisis in nulla sed, ornare ullamcorper urna. Cras a dignissim tortor, vel viverra eros. Nam tempus lobortis elementum.</p>
         </div>
       </div>
     </div>
    </div>
    <div class="row black-bg">
     <div class="container">
       <div class="row">
         <div id="1" class="col-sm-4 text-center biografia-skew  hovers">
           <!--No-hover-->
           <div id="up-1"class="col-sm-12 noticia-active no-padding" style="display: none;">
              <img style="border:none;" src="static/img/biografia/bio-pic-1.jpg">
              <div id="no-hover-4" style="position:absolute; bottom:0; padding:0 20px;">
                <p  class="cuprum italic bold white-color font-size-20">Lorem Ipsum
                  <a href="#" style="-webkit-border-radius: 20px;border-radius: 20px; border:1px solid #fff;padding: 4px 10px; font-size: 20px; color: #fff" > + </a>
                </p>
              </div>
            </div>
            <!--Hover-->
            <div id="down-1" class="col-sm-12 no-padding" style="position:relative; display: none;">
            <img style="border:none;" src="static/img/biografia/bio-pic-1-hover.jpg">
            <div id="hover-4" style="position:absolute; bottom:40%; padding:0 20px;">
              <p  class="arvo italic bold white-color font-size-25">Lorem Ipsum</p>
              <p class="cuprum italic font-size-14 white-color">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <p><a href="#" style="  -webkit-border-radius: 20px;border-radius: 20px; border:1px solid #fff;padding: 4px 10px; font-size: 20px; color: #fff" > + </a></p>
            </div>
            </div>
         </div>

         <div id="2" class="col-sm-4 text-center biografia-skew  hovers">
           <!--No-hover-->
           <div id="up-2"class="col-sm-12 noticia-active no-padding" style="display: none;">
              <img style="border:none;" src="static/img/biografia/bio-pic-2.jpg">
              <div id="no-hover-4" style="position:absolute; bottom:0; padding:0 20px;">
                <p  class="cuprum italic bold white-color font-size-20">Lorem Ipsum
                  <a href="#" style="-webkit-border-radius: 20px;border-radius: 20px; border:1px solid #fff;padding: 4px 10px; font-size: 20px; color: #fff" > + </a>
                </p>
              </div>
            </div>
            <!--Hover-->
            <div id="down-2" class="col-sm-12 no-padding" style="position:relative; display: none;">
            <img style="border:none;" src="static/img/biografia/bio-pic-2-hover.jpg">
            <div id="hover-4" style="position:absolute; bottom:40%; padding:0 20px;">
              <p  class="arvo italic bold white-color font-size-25">Lorem Ipsum</p>
              <p class="cuprum italic font-size-14 white-color">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <p><a href="#" style="  -webkit-border-radius: 20px;border-radius: 20px; border:1px solid #fff;padding: 4px 10px; font-size: 20px; color: #fff" > + </a></p>
            </div>
            </div>
         </div>

         <div id="3" class="col-sm-4 text-center biografia-skew  hovers">
           <!--No-hover-->
           <div id="up-3"class="col-sm-12 noticia-active no-padding" style="display: none;">
              <img style="border:none;" src="static/img/biografia/bio-pic-3.jpg">
              <div id="no-hover-4" style="position:absolute; bottom:0; padding:0 20px;">
                <p  class="cuprum italic bold white-color font-size-20">Lorem Ipsum
                  <a href="#" style="-webkit-border-radius: 20px;border-radius: 20px; border:1px solid #fff;padding: 4px 10px; font-size: 20px; color: #fff" > + </a>
                </p>
              </div>
            </div>
            <!--Hover-->
            <div id="down-3" class="col-sm-12 no-padding" style="position:relative; display: none;">
            <img style="border:none;" src="static/img/biografia/bio-pic-3-hover.jpg">
            <div id="hover-4" style="position:absolute; bottom:40%; padding:0 20px;">
              <p  class="arvo italic bold white-color font-size-25">Lorem Ipsum</p>
              <p class="cuprum italic font-size-14 white-color">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <p><a href="#" style="  -webkit-border-radius: 20px;border-radius: 20px; border:1px solid #fff;padding: 4px 10px; font-size: 20px; color: #fff" > + </a></p>
            </div>
            </div>
         </div>
       </div>
       <div class="row ">
      
         <div id="4" class="col-sm-4 text-center biografia-skew  hovers">
           <!--No-hover-->
           <div id="up-4"class="col-sm-12 noticia-active no-padding" style="display: none;">
              <img style="border:none;" src="static/img/biografia/bio-pic-4.jpg">
              <div id="no-hover-4" style="position:absolute; bottom:0; padding:0 20px;">
                <p  class="cuprum italic bold white-color font-size-20">Lorem Ipsum
                  <a href="#" style="-webkit-border-radius: 20px;border-radius: 20px; border:1px solid #fff;padding: 4px 10px; font-size: 20px; color: #fff" > + </a>
                </p>
              </div>
            </div>
            <!--Hover-->
            <div id="down-4" class="col-sm-12 no-padding" style="position:relative; display: none;">
            <img style="border:none;" src="static/img/biografia/bio-pic-4-hover.jpg">
            <div id="hover-4" style="position:absolute; bottom:40%; padding:0 20px;">
              <p  class="arvo italic bold white-color font-size-25">Lorem Ipsum</p>
              <p class="cuprum italic font-size-14 white-color">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <p><a href="#" style="  -webkit-border-radius: 20px;border-radius: 20px; border:1px solid #fff;padding: 4px 10px; font-size: 20px; color: #fff" > + </a></p>
            </div>
            </div>
         </div>

         <div id="5" class="col-sm-4 text-center biografia-skew  hovers">
           <!--No-hover-->
           <div id="up-5"class="col-sm-12 noticia-active no-padding" style="display: none;">
              <img style="border:none;" src="static/img/biografia/bio-pic-5.jpg">
              <div id="no-hover-4" style="position:absolute; bottom:0; padding:0 20px;">
                <p  class="cuprum italic bold white-color font-size-20">Lorem Ipsum
                  <a href="#" style="-webkit-border-radius: 20px;border-radius: 20px; border:1px solid #fff;padding: 4px 10px; font-size: 20px; color: #fff" > + </a>
                </p>
              </div>
            </div>
            <!--Hover-->
            <div id="down-5" class="col-sm-12 no-padding" style="position:relative; display: none;">
            <img style="border:none;" src="static/img/biografia/bio-pic-5-hover.jpg">
            <div id="hover-4" style="position:absolute; bottom:40%; padding:0 20px;">
              <p  class="arvo italic bold white-color font-size-25">Lorem Ipsum</p>
              <p class="cuprum italic font-size-14 white-color">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <p><a href="#" style="  -webkit-border-radius: 20px;border-radius: 20px; border:1px solid #fff;padding: 4px 10px; font-size: 20px; color: #fff" > + </a></p>
            </div>
            </div>
         </div>

         <div id="6" class="col-sm-4 text-center biografia-skew  hovers">
           <!--No-hover-->
           <div id="up-6"class="col-sm-12 noticia-active no-padding" style="display: none;">
              <img style="border:none;" src="static/img/biografia/bio-pic-6.jpg">
              <div id="no-hover-4" style="position:absolute; bottom:0; padding:0 20px;">
                <p  class="cuprum italic bold white-color font-size-20">Lorem Ipsum
                  <a href="#" style="-webkit-border-radius: 20px;border-radius: 20px; border:1px solid #fff;padding: 4px 10px; font-size: 20px; color: #fff" > + </a>
                </p>
              </div>
            </div>
            <!--Hover-->
            <div id="down-6" class="col-sm-12 no-padding" style="position:relative; display: none;">
            <img style="border:none;" src="static/img/biografia/bio-pic-6-hover.jpg">
            <div id="hover-6" style="position:absolute; bottom:40%; padding:0 20px;">
              <p  class="arvo italic bold white-color font-size-25">Lorem Ipsum</p>
              <p class="cuprum italic font-size-14 white-color">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <p><a href="#" style="  -webkit-border-radius: 20px;border-radius: 20px; border:1px solid #fff;padding: 4px 10px; font-size: 20px; color: #fff" > + </a></p>
            </div>
            </div>
         </div>
       </div>
     </div>
    </div>
   
{% endblock %}
{% block js %}
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $("li.home").addClass("active");
  });
</script>
<script type="text/javascript" src="static/js/segment-display.js"></script>
<script type="text/javascript">
      $(function(){
        $(".hovers").hover(function(){
          var des=$(this).attr("id");
          //alert(des);
          $("#up-"+des).removeClass("noticia-active");
          $("#down-"+des).addClass("noticia-active");
        },function() {
          var des=$(this).attr("id");

          //alert("sali")
          $("#up-"+des).addClass("noticia-active");
          $("#down-"+des).removeClass("noticia-active");
  });
      });   
     </script>
   
{% endblock  %}