{% extends "layout.html" %}
{% block slider %}
  <div id="tittle-biografia" class="container-fluid black-bg">
     <div class="container">
       <div class="row">
         <div class="col-sm-4">
           <h1 class="white-color arvo bold italic font-size-40">CALENDARIO</h1>
         </div>
         <div class="col-sm-8 tittle-linea">
           <hr>
         </div>
       </div>
     </div>
  </div>
{% endblock  %}

{% block content %}
<style type="text/css">
  
</style>
    

    <div class="row black-bg">
     <div class="container">
       <div class="row">
          <div class="col-sm-4 sdr-skew-circuito">
            <img class="img-responsive" src="static/img/sdr/round1-beijing.jpg">
            <div class="circuito">
              <h2 class="text-center white-color arvo bold italic font-size-25">China</h2>
              <p class="text-center white-color cuprum bold italic font-size-16">Round 1</p>
              <p class="text-center white-color cuprum bold italic font-size-16"> Date 1</p>
            </div>
          </div>
          <div class="col-sm-4 sdr-skew-circuito">
            <img src="static/img/sdr/round2-malaysia.jpg">
            <div class="circuito">
              <h2 class="text-center white-color arvo bold italic font-size-25">China</h2>
              <p class="text-center white-color cuprum bold italic font-size-16">Round 1</p>
              <p class="text-center white-color cuprum bold italic font-size-16"> Date 1</p>
            </div>
          </div>
          <div class="col-sm-4 sdr-skew-circuito">
            <img src="static/img/sdr/round3-punta-este.jpg">
            <div class="circuito">
              <h2 class="text-center white-color arvo bold italic font-size-25">China</h2>
              <p class="text-center white-color cuprum bold italic font-size-16">Round 1</p>
              <p class="text-center white-color cuprum bold italic font-size-16"> Date 1</p>
            </div>
          </div>
       </div>
       <div class="row">
          <div class="col-sm-4 sdr-skew-circuito">
            <img src="static/img/sdr/round4-buenos-aires.jpg">
            <div class="circuito">
              <h2 class="text-center white-color arvo bold italic font-size-25">China</h2>
              <p class="text-center white-color cuprum bold italic font-size-16">Round 1</p>
              <p class="text-center white-color cuprum bold italic font-size-16"> Date 1</p>
            </div>
          </div>
          <div class="col-sm-4 sdr-skew-circuito">
            <img src="static/img/sdr/round5-miami.jpg">
            <div class="circuito">
              <h2 class="text-center white-color arvo bold italic font-size-25">China</h2>
              <p class="text-center white-color cuprum bold italic font-size-16">Round 1</p>
              <p class="text-center white-color cuprum bold italic font-size-16"> Date 1</p>
            </div>
          </div>
          <div class="col-sm-4 sdr-skew-circuito">
            <img src="static/img/sdr/round6-long-beach.jpg">
            <div class="circuito">
              <h2 class="text-center white-color arvo bold italic font-size-25">China</h2>
              <p class="text-center white-color cuprum bold italic font-size-16">Round 1</p>
              <p class="text-center white-color cuprum bold italic font-size-16"> Date 1</p>
            </div>
          </div>
       </div>
       <div class="row">
          <div class="col-sm-4 sdr-skew-circuito">
            <img src="static/img/sdr/round7-montecarlo.jpg">
            <div class="circuito">
              <h2 class="text-center white-color arvo bold italic font-size-25">China</h2>
              <p class="text-center white-color cuprum bold italic font-size-16">Round 1</p>
              <p class="text-center white-color cuprum bold italic font-size-16"> Date 1</p>
            </div>
          </div>
          <div class="col-sm-4 sdr-skew-circuito">
            <img src="static/img/sdr/round8-berlin.jpg">
            <div class="circuito">
              <h2 class="text-center white-color arvo bold italic font-size-25">China</h2>
              <p class="text-center white-color cuprum bold italic font-size-16">Round 1</p>
              <p class="text-center white-color cuprum bold italic font-size-16"> Date 1</p>
            </div>
          </div>
          <div class="col-sm-4 sdr-skew-circuito">
            <img src="static/img/sdr/round9-moscow.jpg">
            <div class="circuito">
              <h2 class="text-center white-color arvo bold italic font-size-25">China</h2>
              <p class="text-center white-color cuprum bold italic font-size-16">Round 1</p>
              <p class="text-center white-color cuprum bold italic font-size-16"> Date 1</p>
            </div>
          </div>
       </div>
       <div class="row">
          <div class="col-sm-4 sdr-skew-circuito">
            <img src="static/img/sdr/round10-11-london.jpg">
            <div class="circuito">
              <h2 class="text-center white-color arvo bold italic font-size-25">China</h2>
              <p class="text-center white-color cuprum bold italic font-size-16">Round 1</p>
              <p class="text-center white-color cuprum bold italic font-size-16"> Date 1</p>
            </div>
          </div>
       </div>
     </div>
    </div>
   
{% endblock %}
{% block js %}
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $("li.home").addClass("active");
  });
</script>
<script type="text/javascript" src="static/js/segment-display.js"></script>
    <script type="text/javascript">

      var display = new SegmentDisplay("display");
      display.pattern         = "##:##:##:##";
      display.cornerType      = 2;
      display.displayType     = 7;
      display.displayAngle    = 9;
      display.digitHeight     = 20;
      display.digitWidth      = 12;
      display.digitDistance   = 2;
      display.segmentWidth    = 3;
      display.segmentDistance = 0.5;
      display.colorOn         = "rgba(68, 254, 1, 1)";
      display.colorOff        = "rgba(41, 51, 42, 1)";

      animate();

      function calcularTiempoDosFechas(date1, date2){
    start_actual_time = new Date(date1);
    end_actual_time = new Date(date2);

    var diff = end_actual_time - start_actual_time;

    var diffSeconds = diff/1000;
    var HH = Math.floor(diffSeconds/3600);
    var MM = Math.floor(diffSeconds%3600)/60;

    var formatted = ((HH < 10)?("0" + HH):HH) + ":" + ((MM < 10)?("0" + MM):MM)
    return formatted;
}

      function animate() {
        var time    = new Date();
        var time2   = new Date();
        var day     = '01'
        var hours   = time.getHours();
        var minutes = time.getMinutes();
        var seconds = time.getSeconds();
        var value   = day + ':' + ((hours < 10) ? ' ' : '') + hours
                    + ':' + ((minutes < 10) ? '0' : '') + minutes
                    + ':' + ((seconds < 10) ? '0' : '') + seconds;
        d1 = "01/17/2012 11:20";
        d2 = "01/18/2012 12:25";
       // alert(calcularTiempoDosFechas(value, d2))
        display.setValue(value);
        window.setTimeout('animate()', 100);
        
      }

    </script>
{% endblock  %}