{% extends "layout.html" %}
{% block slider %}
  <div id="tittle-biografia" class="container-fluid black-bg">
     <div class="container">
       <div class="row">
         <div class="col-sm-3">
           <h1 class="white-color arvo bold italic font-size-40">CONTACTO</h1>
         </div>
         <div class="col-sm-9 tittle-linea">
           <hr>
         </div>
       </div>
     </div>
  </div>
{% endblock  %}

{% block content %}
<style type="text/css">
  
</style>
    <div class="row black-bg pavimento-bg" style="  position: relative;min-height: 350px;">
     <div class="container" style="margin-top: 150px;">
       <div class="row">
          <div class="col-sm-1 col-xs-3 col-sm-offset-3" style="margin-right: 25px;">
          <div class="row"><img class="img-responsive" src="static/img/contacto/fb-icon-chava-duran.png"></div></div>
          <div class="col-sm-1 col-xs-3" style="margin-right: 25px;"><div class="row"><img class="img-responsive" src="static/img/contacto/twitter-icon-chava-duran.png"></div></div>
          <div class="col-sm-1 col-xs-3" style="margin-right: 25px;"><div class="row"><img class="img-responsive" src="static/img/contacto/youtube-icon-chava-duran.png"></div></div>
          <div class="col-sm-1 col-xs-3" style="margin-right: 25px;"><div class="row"><img class="img-responsive" src="static/img/contacto/kik-icon-chava-duran.png"></div></div>
          <div class="col-sm-1"style="margin-right: 25px;"><div class="row"><img class="img-responsive" src="static/img/contacto/fanboost-icon-chava-duran.png"></div></div>
       </div> 
     </div>
     <div class="col-sm-4" style="position: absolute; right:0;bottom: 0;padding: 0;"><img class="img-responsive" src="static/img/contacto/chava-duran-contact.png"></div>
    </div>
   
{% endblock %}
{% block js %}


{% endblock  %}