{% extends "layout.html" %}
{% block slider %}
  <div id="tittle-biografia" class="container-fluid black-bg">
     <div class="container">
       <div class="row">
         <div class="col-sm-3">
           <h1 class="white-color arvo bold italic font-size-40">ENLACES</h1>
         </div>
         <div class="col-sm-9 tittle-linea">
           <hr>
         </div>
       </div>
     </div>
  </div>
{% endblock  %}

{% block content %}
<style type="text/css">
  
</style>
    <div class="row black-bg">
     <div class="container">
       <div class="row">
        <div class="col-sm-4 enlaces-skew"><a href="#" target="_blank"><img class="img-responsive" src="static/img/enlaces/enlace-kik.jpg"></a></div>
        <div class="col-sm-4 enlaces-skew"><a href="#" target="_blank"><img class="img-responsive" src="static/img/enlaces/enlace-formula-e.jpg"></a></div>
        <div class="col-sm-4 enlaces-skew"><a href="#" target="_blank"><img class="img-responsive" src="static/img/enlaces/enlace-formula-renault.jpg"></a></div>
       </div>

       <div class="row">
        <div class="col-sm-4 enlaces-skew"><a href="#" target="_blank"><img class="img-responsive" src="static/img/enlaces/enlace-redbull.jpg"></a></div>
        <div class="col-sm-4 enlaces-skew"><a href="#" target="_blank"><img class="img-responsive" src="static/img/enlaces/enlace-vandutch.jpg"></a></div>
        <div class="col-sm-4 enlaces-skew"><a href="#" target="_blank"><img class="img-responsive" src="static/img/enlaces/enlace-bmw.jpg"></a></div>
       </div>

       <div class="row">
        <div class="col-sm-4 enlaces-skew"><a href="#" target="_blank"><img class="img-responsive" src="static/img/enlaces/enlace-lodgeo.jpg"></a></div>
        <div class="col-sm-4 enlaces-skew"><a href="#" target="_blank"><img class="img-responsive" src="static/img/enlaces/enlace-amlin.jpg"></a></div>
        <div class="col-sm-4 enlaces-skew"><a href="#" target="_blank"><img class="img-responsive" src="static/img/enlaces/enlace-renault.jpg"></a></div>
       </div>
     </div>
    </div>
   
{% endblock %}
{% block js %}
<script type="text/javascript" src="static/js/segment-display.js"></script>

{% endblock  %}