{% extends "layout.html" %}
{% block slider %}
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators hidden-xs">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div id="carousel-home" class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="static/img/home/banner-chava-pic1.jpg" alt=" Caption 1">
      <div class="carousel-caption hidden-xs">
       <h2 class="arvo bold font-size-45">SALVADOR <br> DURAN </h2>
       <p class="cuprum bold italic font-size-20 white-color">SALVADOR DURÁN TERMINA EN LOS PUNTOS EN DOS EVENTOS CONSECUTIVOS DE FÓRMULA E</p>
       <a href="http://punklabs.ninja/sduran/blog/?p=27#more-27"><div class="button"> <span class="cuprum bold italic font-size-16">Leer Más</span></div></a>
      </div>
    </div>
    <div class="item ">
      <img src="static/img/home/banner-chava-pic2.jpg" alt=" Caption 1">
      <div class="carousel-caption hidden-xs">
       <h2 class="arvo bold font-size-45">SALVADOR <br> DURAN </h2>
      <p class="cuprum bold italic font-size-20 white-color">SALVADOR DURÁN ESPERA CERRAR FUERTE LA PRIMERA TEMPORADA DE FÓRMULA E</p>
       <a href="http://punklabs.ninja/sduran/blog/?p=12"><div class="button"> <span class="cuprum bold italic font-size-16">Leer Más</span></div></a>
      </div>
    </div>
    <div class="item">
      <img src="static/img/home/banner-chava-pic3.jpg" alt=" Caption 1">
      <div class="carousel-caption hidden-xs">
       <h2 class="arvo bold font-size-45">SALVADOR <br> DURAN </h2>
        <p class="cuprum bold italic font-size-20 white-color">SALVADOR DURÁN COMPITE EN LA FINAL DE LA FÓRMULA E EN LONDRES</p>
       <a href="http://punklabs.ninja/sduran/blog/?p=7"><div class="button"> <span class="cuprum bold italic font-size-16">Leer Más</span></div></a>
      </div>
    </div>
    <div class="item">
      <img src="static/img/home/banner-chava-pic4.jpg" alt=" Caption 1">
      <div class="carousel-caption hidden-xs">
       <h2 class="arvo bold font-size-45">SALVADOR <br> DURAN </h2>
        <p class="cuprum bold italic font-size-20 white-color">SALVADOR DURÁN SE COLOCA EN EL TOP-6 EN MOSCÚ</p>
       <a href="http://punklabs.ninja/sduran/blog/?p=1"><div class="button"> <span class="cuprum bold italic font-size-16">Leer Más</span></div></a>
      </div>
    </div>
  </div>
</div>
{% endblock  %}

{% block content %}
<style type="text/css">
  
</style>
    
    <div class="row black-bg pavimento-bg">
     <div class="container">
       <div class="row">
      
         <div id="1" class="col-sm-4 text-center margin-bottom-20 home-skew-noticias hovers">
            <!--No-hover-->
          <div id="up-1"class="col-sm-12 noticia-active no-padding" style="display: none;">
            <img class="img-responsive" style="border:none;" src="static/img/home/pic-news-1.jpg">
            <div id="no-hover-1" class="col-sm-12" style="position:absolute; bottom:0; padding:0 20px">
              <p  class="text-left; cuprum italic bold white-color font-size-20" style="text-align:left;">Lorem Ipsum
                <a href="#" style="-webkit-border-radius: 20px;border-radius: 20px; border:1px solid #fff;padding: 4px 10px; font-size: 20px; color: #fff; position:absolute; bottom:10px;  right: 10px" > + </a>
              </p>
            </div>
          </div>
            <!--Hover-->
            <div id="down-1" class="col-sm-12 no-padding" style="position:relative; display: none;">
              <img class="img-responsive" src="static/img/home/pic-news-1-hover.jpg">
              <div id="hover-1" style="position:absolute; bottom:40%; padding:0 20px;">
                <p  class="arvo italic bold white-color font-size-25">Lorem Ipsum</p>
                <p class="cuprum italic font-size-14 white-color">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p><a href="#" style="  -webkit-border-radius: 20px;border-radius: 20px; border:1px solid #fff;padding: 4px 10px; font-size: 20px; color: #fff" > + </a></p>
              </div>
            </div>

         </div>

         <div id="2" class="col-sm-4 text-center margin-bottom-20 home-skew-noticias hovers">
            <!--No-hover-->
          <div id="up-2"class="col-sm-12 noticia-active no-padding" style="display: none;">
            <img class="img-responsive" style="border:none;" src="static/img/home/pic-news-2.jpg">
            <div id="no-hover-1" class="col-sm-12" style="position:absolute; bottom:0; padding:0 20px;">
              <p  class="text-left; cuprum italic bold white-color font-size-20" style=" text-align:left">Lorem Ipsum
                <a href="#" style="-webkit-border-radius: 20px;border-radius: 20px; border:1px solid #fff;padding: 4px 10px; font-size: 20px; color: #fff; position:absolute; bottom:10px;  right: 10px" > + </a>
              </p>
            </div>
          </div>
            <!--Hover-->
            <div id="down-2" class="col-sm-12 no-padding" style="position:relative; display: none;">
              <img class="img-responsive" src="static/img/home/pic-news-2-hover.jpg">
              <div id="hover-1" style="position:absolute; bottom:40%; padding:0 20px;">
                <p  class="arvo italic bold white-color font-size-25">Lorem Ipsum</p>
                <p class="cuprum italic font-size-14 white-color">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p><a href="#" style="  -webkit-border-radius: 20px;border-radius: 20px; border:1px solid #fff;padding: 4px 10px; font-size: 20px; color: #fff" > + </a></p>
              </div>
            </div>

         </div>

         <div id="3" class="col-sm-4 text-center margin-bottom-20 home-skew-noticias hovers">
            <!--No-hover-->
          <div id="up-3"class="col-sm-12 noticia-active no-padding" style="display: none;">
            <img class="img-responsive" style="border:none;" src="static/img/home/pic-news-3.jpg">
            <div id="no-hover-1" class="col-sm-12" style="position:absolute; bottom:0; padding:0 20px">
              <p  class="text-left; cuprum italic bold white-color font-size-20" style="text-align:left;">Lorem Ipsum
                <a href="#" style="-webkit-border-radius: 20px;border-radius: 20px; border:1px solid #fff;padding: 4px 10px; font-size: 20px; color: #fff; position:absolute; bottom:10px;  right: 10px" > + </a>
              </p>
            </div>
          </div>
            <!--Hover-->
            <div id="down-3" class="col-sm-12 no-padding" style="position:relative; display: none;">
              <img class="img-responsive" src="static/img/home/pic-news-3-hover.jpg">
              <div id="hover-1" style="position:absolute; bottom:40%; padding:0 20px;">
                <p  class="arvo italic bold white-color font-size-25">Lorem Ipsum</p>
                <p class="cuprum italic font-size-14 white-color">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p><a href="#" style="  -webkit-border-radius: 20px;border-radius: 20px; border:1px solid #fff;padding: 4px 10px; font-size: 20px; color: #fff" > + </a></p>
              </div>
            </div>

         </div>
       </div>
     </div>
    </div>

    <div class="row bg-counter-digital">
     <div class="container">
       <div class="row">
         <div class="col-sm-3 text-center proxima-text"><h3 class="arvo bold italic white-color font-size-25 margin-top-120 ">PRÓXIMA CARRERA:</h3></div>
         <div class="col-sm-6">

            <canvas id="display" style="width:100%; height:auto;margin-left:-10px"></canvas>
         </div>
         <div class="col-sm-3">
          <div class="row">
          <div class="col-sm-8 col-sm-offset-2 margin-top-100 proxima-bandera">
           <img class="img-responsive" src="static/img/home/flag_chi.gif">
           </div>
          </div>
         </div>
       </div>
     </div>
    </div>

   
{% endblock %}
{% block js %}
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $("li.home").addClass("active");
  });
</script>
<script type="text/javascript" src="static/js/segment-display.js"></script>
    <script type="text/javascript">
      $(function(){
        $(".hovers").hover(function(){
          var des=$(this).attr("id");
          //alert(des);
          $("#up-"+des).removeClass("noticia-active");
          $("#down-"+des).addClass("noticia-active");
        },function() {
          var des=$(this).attr("id");

          //alert("sali")
          $("#up-"+des).addClass("noticia-active");
          $("#down-"+des).removeClass("noticia-active");
  });
      });   
     </script>
    <script type="text/javascript">

      var display = new SegmentDisplay("display");
      display.pattern         = "##:##:##:##";
      display.cornerType      = 2;
      display.displayType     = 7;
      display.displayAngle    = 0;
      display.digitHeight     = 20;
      display.digitWidth      = 12;
      display.digitDistance   = 2;
      display.segmentWidth    = 3;
      display.segmentDistance = 0.5;
      display.colorOn         = "rgba(68, 254, 1, 1)";
      display.colorOff        = "rgba(41, 51, 42, 1)";

      animate();

      function calcularTiempoDosFechas(date1, date2){
    start_actual_time = new Date(date1);
    end_actual_time = new Date(date2);

    var diff = end_actual_time - start_actual_time;

    var diffSeconds = diff/1000;
    var HH = Math.floor(diffSeconds/3600);
    var MM = Math.floor(diffSeconds%3600)/60;

    var formatted = ((HH < 10)?("0" + HH):HH) + ":" + ((MM < 10)?("0" + MM):MM)
    return formatted;
}

      function animate() {
        var mseg_dia=1000*60*60*24;
        var mseg_hora=1000*60*60;
        var mseg_minuto=1000*60;
        var mseg_segundo=1000;

        var actual    = new Date();
        var carrera = new Date(2015, 06, 24, 3, 00, 00, 00);
        //var carrera = new Date(2015, 09, 24, 3, 00, 00, 00);
      

       var falta = carrera - actual; //resta de fechas
        if (falta<=0){
          falta=0;
        }
       var day = Math.floor(falta / mseg_dia); //dias
       var time5 = falta % mseg_dia; //sobra de dia
       var hours = Math.floor(time5 / mseg_hora); //horas
       var time7 = time5%mseg_hora;//sobra de horas
       var minutes = Math.floor(time7 / mseg_minuto);//minutos
       var time9 = time7%mseg_minuto;//sobra de minutos
       var seconds = Math.floor(time9 / mseg_segundo);//segundos
      // alert(time10);

       var value   = ((day < 10) ? '0' : '') + day + ':' + ((hours < 10) ? '0' : '') + hours
                    + ':' + ((minutes < 10) ? '0' : '') + minutes
                    + ':' + ((seconds < 10) ? '0' : '') + seconds;

        display.setValue(value);
        window.setTimeout('animate()', 100);
        
      }

    </script>
{% endblock  %}